@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


h1, h2, h3, .heading {
  font-family: var(--font-playfair), serif;
}

body {
  font-family: var(--font-geist-sans), sans-serif;
}

.code, .mono {
  font-family: var(--font-geist-mono), monospace;
}


